body {
    background-color: gray;
}
div {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    width: 500px;
    border: 2px solid;
    border-radius: 10px;
    background-color: lightpink;

    
}
img {
    width: 300px;
    height: 350px;
    border-radius: 50px;
 } 